.landingSection {
  height: 100vh;
  margin: 0 5%;
  display: flex;
  flex-direction: column;
}

.logo-container {
  display: flex;
  align-content: flex-end;
}

.logo {
  width: 48px;
  height: auto;
  margin: 2% 0;
  margin-left: auto;
}

.hero-container {
  display: flex;
  margin: auto 0;
  align-items: center;
  height: 60%;
}

.hero-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 5%;
}

.main-title {
  color: var(--main-dark);
  font-weight: 600;
}

.sub-title {
  font-size: 36px;
}

.hero-desc-item {
  font-size: 18px;
}

.hero-img {
  width: 50%;
}

.hero-img img {
  width: 100%;
  height: auto;
}

.btnContainer {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.btn-container {
  margin: 3% 0;
}

.BTNsignUp {
  border-radius: 15px;
  padding: 20px 70px;
  color: var(--main-dark);
  background-color: var(--main-color);
  border: 0px;
  font-size: 18px;
}

.BTNsignUp:hover {
  background-color: var(--accent-color);
  color: var(--main-white);
}

.BTNlogIn {
  border-radius: 15px;
  padding: 20px 30px;
  color: var(--main-dark);
  border: 0px;

  margin-left: 10px;
  opacity: 50%;
  background-color: var(--accent-color);
  font-size: 18px;
}

.BTNlogIn:hover {
  background-color: var(--btn-hover-color);
  color: var(--main-white);
}

h2 {
  color: var(--main-color);
  margin-bottom: 20px;
}

/* Reponsive 414px (iPhone6/7/8 Plus) */
@media only screen and (max-width: 414px) {
  .landingSection {
    height: 100vh;
  }

  .hero-container {
    flex-direction: column;
    justify-content: space-between;
    height: 65%;
  }

  .hero-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-title {
    font-size: 25px;
  }

  .sub-title {
    font-size: 18px;
  }

  .hero-desc-item {
    font-size: 16px;
  }

  .btn-container {
    justify-content: space-between;
    display: flex;
    width: 80%;
    justify-content: space-evenly;
  }

  .BTNsignUp {
    font-size: 16px;
    padding: 10px 15px;
  }

  .BTNlogIn {
    font-size: 16px;
    padding: 10px 15px;
  }

  .hero-img {
    width: 90%;
  }
}
