.logIn {
   display:flex;
   height:100vh;
   background-image:url(/images/login/login-background.svg);
   background-size: 90%;
   background-position: center;
   background-repeat: no-repeat;
  }
.login-container{
    width: 60%;
    margin: 0 auto;
    display:flex;
    flex-direction:column;
    align-content: center;
    justify-content: center;
}
.login-form{
    width: 80%;
    margin: auto;
    height: 60%;
}
.login-title{
    font-size:4vw;
    text-align:center;
    font-weight: 600;
    color: var(--main-dark);
}
.login-email-field{
    width: 50%;
    margin:auto;
    padding: 10px;
}
.login-password-field{
    width: 50%;
    margin:auto;
    padding: 10px;
}

.login-input-field{
    width: 100%;
    outline: none;
    padding-left: 10px;
    font-size: 1.2rem;
    height: 50px;
    border: 1px solid #96a3aa;
    border-radius: 10px;
}
.signIn-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
  }
.signin-btn{
    background-color: var(--main-color);
    color: white;
    border:none;
    font-size: 1.5rem;
    width: 40%;
    margin: 30px;
    padding: 10px 0;
    border-radius: 18px;
    transition: ease-in-out 0.3s;
    cursor: pointer;
}  
.signin-btn:hover {
    background-color: var(--main-color);
    color: var(--main-dark);
  }
.forgetPassword-container{
    width:100%;
    margin:auto;
    display:flex;
    justify-content: center;
    align-content: center;
}
.signUp-label-container{
    width:100%;
    margin:auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.forgetpass-label{
    color:var(--link-color);
    margin-bottom: 15px;
}

.forgetpass-label label {
  cursor: pointer;
}

.login-signup-label{
    color:var(--link-color);    
}
.login-signup-label:hover{
    cursor: pointer;
}

a{
    text-decoration: none;
}

.community-label{
    margin-right: 7px;
}
@media only screen and (max-width: 414px) {

    .signUp-label-container{
        font-size: 0.8rem;
    }
    .forgetPassword-container{
        font-size: 0.8rem;
    }
    .signin-btn{
        width: 80%;
        font-size: 20px;
    }
    .login-form{
        margin-top: 37vw;
    }
    .login-email-field{
        width: 100%;
    }
    .login-container{
        width: 100%;
    }
    .login-password-field{
        width: 100%;
    }
    .login-title{
        font-size: 11vw;
        margin-bottom: 10px;
    }
    .login-input-field{
        height: 30px;
        font-size: 0.9rem;
    }
    .signin-btn{
        margin:15px;
    }
    .logIn{
        background-image: url(/images/login/login-background-mobile.svg);
        background-position: bottom;
        background-size: 100%;
        
        
    }
}