.landingSection {
  height: 100vh;
  display: grid;
  margin-left: 20px;
  margin-right: 20px;
  grid-template-rows: 25vh 400px 1fr;
  grid-template-columns: 1fr 1fr;
}

.logo {
  width: 70px;
  height: 70px;
  margin-top: 20px;

  display: flex;
  justify-self: end;
  float: right;
  grid-row: 1/2;
  grid-column: 2/3;
}

/* Revised Style */

.landingSectionRevise {
  height: 100vh;
  margin: 0 5%;
  display: flex;
  flex-direction: column;
}

.logo-container {
  display: flex;
  align-content: flex-end;
}

.logoRevise {
  width: 48px;
  height: auto;
  margin: 2% 0;
  margin-left: auto;
}

.heroBox {
  color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  grid-column: 1/2;
  grid-row: 2/3;
  margin-left: 20px;
}

.hero-container {
  /* border: 1px solid purple; */
  display: flex;
  margin: auto 0;
  align-items: center;

}

.hero-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 5%;
  /* border: 1px solid red; */
}

.main-title {
  color: var(--main-blue);
  font-weight: 600;
}

.sub-title {
  font-size: 36px;
}

.hero-desc-item {
  font-size: 18px;
}

.hero-img {
  width: 50%
}

.hero-img img{
  width: 100%;
  height: auto;
}

.btnContainer {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.btn-container-revise {
  /* border: 1px solid red; */
  margin: 3% 0;
}

.BTNsignUp {
  border-radius: 15px;
  padding: 20px 30px;
  /* width: 200px; */
  color: #fff;
  background-color: var(--main-blue);
  border: 0px;
  font-size: 18px;
}

.BTNsignUp:hover {
  background-color: var(--btn-blue-hover);
}

.BTNlogIn {
  border-radius: 15px;
  padding: 20px 30px;
  /* width: 200px; */
  color: #fff;
  border: 0px;
  margin-left: 10px;
  opacity: 50%;
  background-color: var(--accent-color);
  font-size: 18px;
}

.BTNlogIn:hover {
  background-color: var(--btn-hover-color);
}
/* End Revise Styling */

.introText {
  margin-top: 15px;
}

p {
  color: black;
}

.mainSVG {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: start;
  grid-row: 2/3;
  grid-column: 2/3;
  width: 85%;
  height: auto;
}

h2 {
  color: var(--main-blue);
  margin-bottom: 20px;
}

.mainSectionHeader{
  font-size: 2.5rem;
}