.career {
  background-color: #f3f3f3;
  height: 75vh;
}

.career-container {
  flex-direction: column;
  justify-content: center;
  height: 70%;
}

.career-title {
  padding-top: 20px;
  font-size: 48px;
  text-align: center;
  padding-bottom: 50px;
}

/* 414px and below */
@media only screen and (max-width: 414px) {
  .career {
    height: 70vh;
  }

  .career-container {
    display:flex;
    align-items: center;
  }

  .career-title {
    font-size: 32px;
  }

  .careerSVG {
    width: 80%;

  }

}

/* 375px and below */
@media only screen and (max-width: 375px) {
  .career {
    height: 65vh;
  }
}