.line {
  margin-left: 5%;
  margin-right: 5%;
  color: #f3f3f3;
}

.header {
  height: 10%;
  width: 100%;
  text-align: center;
}

.sideProfile {
  margin: 10px 0;
  padding: 10px;
  background-color: #f3f3f3;
}

.mainProfile {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f3f3f3;
}

.profileContainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-left: 5%;
  margin-right: 5%;
}
