.navbar {
  align-items: center;
  justify-content: center;
}

.nav-container {
  display: flex;
  margin: 5px 10%;
  justify-content: space-between;
  align-items: center;
}

.navTitle {
  /* Leave empty for now */
}

.nav-logo {
  font-size: 24px;
  color: var(--main-color);
}

.navButtons {
  display: flex;
  align-items: center;
}

.nav-btn {
  margin: 0 10px;
  color: var(--main-color);
}

.nav-btn:nth-last-child(1) {
  margin-right: 0;
  background-color: var(--main-color);
  color: var(--main-dark);
  padding: 10px 15px;
  border-radius: 10px;
}

/* .navbar a {
  margin-right: 20px;
  color: var(--main-color);
}

.navButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.profileOptions {
  height: 28px;
  width: 28px;

  background-image: "url(`/SubtleAsianNetwork-/public/images/createProfile/profilepic.png`)";
}

.navDropDown {
  position: absolute;
  top: 48px;
  width: 200px;
  transform: translateX(-25%);
  background-color: #40c87d;
  border-color: white;
  color: black;
  border-radius: 8px;
  padding: 1rem;
  overflow: hidden;
}

.menu-item {
  height: 50px;
  color: black !important;
  display: flex;
  align-items: center;
  border-radius: 12px;
  transition: background 500ms;
  padding: 0.5rem;
}

.menu-item:hover {
  background-color: #27df79;
  margin-left: auto;
}

.droptag {
  color: black;
  font-size: 20px;
} */

@media only screen and (max-width: 680px) {
  .navbar {
    background: var(--main-color);
  }

  .navTitle {
    color: black;
    justify-self: start;
  }
  .navButtons {
    display: none;
    visibility: hidden;
  }
  .navSignUp {
    display: none;
    color: black;
  }
}
