.sidebar{
    background-color: var(--accent-color);
    width: auto;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    position: fixed;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.h2{
    color: black;
}