.forgotPassword {
  height: 100vh;
  margin: 0 5%;
  display: flex;
  flex-direction: column;
}

.forgotPassword-logo {
  width: 48px;
  height: auto;
  margin: 2% 0;
  margin-right: auto;
}

.forgotPassword-container {
  display: flex;
  margin: auto 0;
}

.forgotPassword-img {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forgotPassword-img img {
  width: 80%;
}

.forgotPassword-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.forgot-content-container-header {
  margin: 5% auto;
  width: 80%;
}

.forgot-title {
  font-size: 28px;
}

.forgot-caption {
  color: #888;
}

.forgotPassword-form {
  width: 80%;
  margin: 0 auto;
}

.forgotPassword-form-field-container {
  display: flex;
  padding: 5%;
  border-radius: 10px;
  background-color: #F4F4F4;
  justify-content: space-around;
  width: 100%;
}

.forgotPassword-form-field {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.forgotPassword-form-field-label {
  color: #888;
  margin-bottom: 5%;
}

.forgotPassword-form-field-input {
  border: none;
  outline: none;
  background-color: transparent;
  color: #888;
}

.forgotPassword-form-btn-container {
  margin: 5% 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reset-password-btn {
  border: none;
  background-color: var(--main-color);
  color: black;
  padding: 10px 10px;
  border-radius: 10px;
  width: 45%;
  cursor: pointer;
}

.reset-password-btn:hover {
  background-color: var(--main-color-hover);
  transition: ease-in-out 0.2s;
}

.btli {
  width: 45%;
  border: 1px solid var(--main-color);
  padding: 7px 7px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  color: var(--main-color);
}

.btli:hover {
  background-color: var(--main-color-hover);
  color: black;
  transition: ease-in-out 0.2s;
}

.resetPassword-sent {
  margin: 1%;
}

.success-msg {
  color: var(--main-color);
}

.err-msg {
  color: red;
}

/* Reset password invalid */
.resetPassword {
  height: 100vh;
}

.resetPassword-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.resetPassword-header-container {
  width: 50%;
}

.resetPassword-header-title {
  font-size: 36px;
  font-weight: 600;
}

.resetPassword-header-desc {
  margin: 5% 0;
  color: var(--inactive-grey);
}

.resetPassword-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.resetPassword-main-btn {
  text-decoration: none;
  background-color: var(--main-color);
  padding: 3% 5%;
  color: black;
  border-radius: 20px;
}

.resetPassword-main-btn:hover {
  background-color: var(--main-color-hover);
  transition: 0.2s ease-in-out;
}

.resetPassword-secondary-btn {
  text-decoration: none;
  color: var(--main-color);
  margin-right: 10%;
}

/* Reset Passworld Valid Token */
.resetPassword-form-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1% 0;
}

.resetPassword-form-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2.5% 0;
}

.resetPassword-form-label {
  margin: 2.5% 0;
}

.resetPassword-form-input {
  border: none;
  height: 40px;
  outline: none;
  background-color: var(--inactive-light-grey);
  border-radius: 10px;
  padding-left: 10px;
}

.submit-reset {
  border: none;
  outline: none;
  padding: 15px 20px;
  margin: 5% 0;
  font-size: 20px;
}

.confirmPass-status {
  margin: 1% 0;
}

.status-ok {
  color: var(--main-color);
}

.status-fail {
  color: red;
}