/* Google Font "Inter" */
/* This was the font that was used in the design, we could change it later */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap");

/* Affects all elements of html */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

/* CSS Varibles for color */
/* Feel free to change the variable names, just message the chat if you do */
:root {
  /* OLD COLORS (Delete Soon) */
  --main-color: #c15f77;
  --accent-color: #f1607f;
  --btn-hover-color: #fa305c;

  --main-blue: #057be8;
  --main-blue-hover: #0084ff;
  --secondary-blue: #3779b6;
  --btn-blue-hover: #3a8fdf;

  --link-color: #5d98b9;
  --primary-border-color: #e4e4e4;
  --gray-border-color: #96a3aa;

  /*Redesign Colors */
  --main-color: #3ddc84;
  --main-color-hover: #44ff98;
  --accent-color: #16eb76;
  --main-white: #ffffff;
  --main-grey: #ebedf2;
  --secondary-grey: #546a7b;
  --main-dark: #0f0a0a;
  --light-grey: #f8f4f4;
  --inactive-grey: #959595;
  --inactive-light-grey: #f4f4f4;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flexCenterCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexCenterRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.circle {
  border-radius: 50%;
  width: 50%;
  height: 50%;
}

.shadow {
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
}
