.progress {
  height: 150vh;
  align-items: center;
  justify-content: space-between;
}

.progress-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5%;
}

.progress-container2 {
  display: flex;
  margin-left: 10%;
  align-items: center;
  justify-content: center;
  padding-bottom: 5%;
}

.progress-container3 {
  display: flex;
  margin-left: 20%;
  align-items: center;
  justify-content: center;
}

.progress-info-container {
  width: 40%;
  margin-left: 5%;
  height: 50%;
}

.progress-title {
  font-size: 36px;
  flex-direction: column;
  text-align: center;
  color: var(--black);
}

.progress-subtitle {
  font-size: 25px;
  font-weight:600;
  color: var(--black);
  margin-bottom: 2%;
}

.progress-info {
  font-size: 20px;
  color: var(--inactive-grey);
}

.sizeSVG {
  width: 20%;
  height: auto;
}


/* 414px and below */
@media only screen and (max-width: 414px) {
  .progress {
    height: 100vh;
  }

  .progress-container {
    flex-direction: column;
    justify-content: space-around;
    height: 70%;
  }

  .progress-info-container {
    width: 80%;
  }

  .progress-title {
    font-size: 28px;
  }

  .progress-info {
    font-size: 16px;
  }

  .sizeSVG {
    width: 90%;
  }
}

/* 375px and below */
@media only screen and (max-width: 375px) {
  .progress-container {
    height: 80%;
  }

  .progress-title {
    font-size: 24px;
  }

  .progress-info {
    height: 18px;
  }
}

/* 320px and below */
@media only screen and (max-width: 320px) {
  .progress-container {
    height: 100%;
  }
}